#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Add to your main CSS file */
body {
  background-color: #99ff99;
}

.react-select-container .react-select__control {
  font-size: 0.875rem;
  min-height: calc(1.5em + 0.5rem + 2px);
}

.react-select-container .react-select__value-container {
  padding: 0.25rem 0.5rem;
}

.react-select-container .react-select__input input {
  text-transform: uppercase !important;
}

.react-select-container .react-select__menu {
  font-size: 0.875rem;
}

.balances {
  font-size: 25px;
}

.form-label {
  margin-bottom: 0.25rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
